<!DOCTYPE HTML>

    <html lang="en">
  
         
    <!-- Basic Info
================================================== -->
     <head>
        
        <title>{% block title %}BM Perfomance | Sign Up{% endblock %}</title>
        <meta charset="utf-8">
        
        
        
    <!-- Mobile
================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset ('img/ms-icon-144x144.png') }}">
        
        
        
    <!-- Google Fonts
================================================== -->
        <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>


        
    <!-- Icon / Favicon 
================================================== -->
        <link rel='icon' type='image/x-icon' href="{{ asset ('img/favicon.ico') }}">

        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset ('img/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset ('img/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset ('img/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset ('img/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset ('img/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset ('img/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset ('img/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset ('img/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset ('img/apple-icon-180x180.png') }}">

        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset ('img/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset ('img/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset ('img/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset ('img/favicon-16x16.png') }}">

        

    <!-- Stylesheets / CSS Files
================================================== -->
    {% block stylesheets %}
            
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset ('css/style.css') }}">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset ('menu/css/simple_menu.css') }}">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset ('css/nivo-slider.css') }}">
        <link rel="stylesheet" type="text/css" media="all" href="{{ asset ('js/fancybox/jquery.fancybox.css') }}">
            
    {% endblock %}

    
    
    <!-- Javascript Files
================================================== -->
     {% block javascripts %}
         
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"> </script>
        
        <script src="{{ asset ('js/jquery.tools.min.js') }}"> </script>
        <script src="{{ asset ('js/jquery.min.js') }}"> </script>
        <script src="{{ asset ('js/custom.js') }}"> </script>
        <script src="{{ asset ('js/slides/slides.min.jquery.js') }}"> </script>
        <script src="{{ asset ('js/cycle-slider/cycle.js') }}"> </script>
        <script src="{{ asset ('js/nivo-slider/jquery.nivo.slider.js') }}"> </script>
        <script src="{{ asset ('js/fancybox/jquery.fancybox-1.2.1.js') }}"> </script>
        <script src="{{ asset ('js/tabify/jquery.tabify.js') }}"> </script>
        <script src="{{ asset ('js/prettyPhoto/jquery.prettyPhoto.js') }}"> </script>
        <script src="{{ asset ('js/twitter/jquery.tweet.js') }}"> </script>
        <script src="{{ asset ('js/scrolltop/scrolltopcontrol.js') }}"> </script>
        <script src="{{ asset ('js/portfolio/filterable.js') }}"> </script>
        <script src="{{ asset ('js/modernizr/modernizr-2.0.3.js') }}"> </script>
        <script src="{{ asset ('js/easing/jquery.easing.1.3.js') }}"> </script>
        <script src="{{ asset ('js/kwicks/jquery.kwicks-1.5.1.pack.js') }}"> </script>
        <script src="{{ asset ('js/swfobject/swfobject.js') }}"> </script>

        
    <!-- Javascript functions
================================================== -->
        <script>
        $(function () {
            $("#prod_nav ul").tabs("#panes > div", {
                effect: 'fade',
                fadeOutSpeed: 400
            });
        });
        </script>

        <script>
        $(document).ready(function () {
            $(".pane-list li").click(function () {
                window.location = $(this).find("a").attr("href");
                return false;
            });
        });
        </script>
     
     {% endblock %}

     </head>

    
     
     
    
     <body>{% block body %}    
         
  <!-- MENU
  ================================================== -->

            <ol id="menu">
              <li><a href="{{ path ('/home') }}">Home</a>
              </li>

              <li><a href="">Media</a>
                <!-- sub menu -->
                <ol>
                  <li><a href="{{ path ('/portfolio') }}">Photos</a></li>
                  <li><a href="{{ path ('/video') }}">Video</a></li>
                </ol>
              </li>
              <!-- end sub menu -->

              <li><a href="">Cars</a>
                <!-- sub menu -->
                <ol>
                  <li><a href="{{ path ('/buycars') }}">Buy Cars</a></li>
                </ol>
              </li>
              <!-- end sub menu -->

              <li><a href="{{ path ('/contact') }}">Contact</a></li>

              <li><a href="">User</a>
                <!-- sub menu -->
                <ol>
                  <li><a href="{{ path ('/signup') }}">Signup</a></li>
                  <li><a href="{{ path ('/login') }}">Login</a></li>
                </ol>
              </li>
              <!-- end sub menu -->
            </ol>
            <!-- END MENU -->
 
                
            
  <!-- BM Perfomance - LOGO 
  ================================================== -->
<div id="container">
  <div id="site_title"><a href="{{ path ('/home') }}"><img title="" src="{{ asset ('img/logo.png') }}" alt=""></a></div>
  
  
 
  
  
   <!-- BM Perfomance - SLIDER
  ================================================== -->
  <div id="slider3" class="nivoSlider"> <img title="" src="{{ asset ('img/demo/slide_1.jpg') }}" alt="" width="960" height="450"> 
                                        <img title="" src="{{ asset ('img/demo/slide_5.jpg') }}" alt="" width="960" height="450"> 
                                        <img title="" src="{{ asset ('img/demo/slide_8.jpg') }}" alt="" width="960" height="450"> 
                                        <img title="" src="{{ asset ('img/demo/slide_13.jpg') }}" alt="" width="960" height="450"> 
                                        <img title="" src="{{ asset ('img/demo/slide_17.jpg') }}" alt="" width="960" height="450"> 
                                        <img title="" src="{{ asset ('img/demo/slide_18.jpg') }}" alt="" width="960" height="450"> </div>

  
                                        
                                        

<!-- Signup form
===================== -->

    <div class="heading_bg">
      <div class="signup">

        <p class="text">Signup</p>

        <div class="signup">
            
        <form action="/signup" method="POST"

        <span class="fontawesome-user"></span><input type="text" required placeholder="First Name" autocomplete="on">
        <span class="fontawesome-user"></span><input type="text" required placeholder="Last Name" autocomplete="on">
        <span class="fontawesome-envelope-alt"></span><input type="text" id="email" required placeholder="Email" autocomplete="on">
        <span class="fontawesome-lock"></span><input type="password" name="password" id="password" required placeholder="Password" autocomplete="on">
        
        <input type="submit" value="Signup" title="Sign Up !">

        </form>
        </div>

      </div>
    </div>

      <div style="clear:both; height: 40px"></div>
      
  </div>      <!-- Close Signup container 
===================== -->


  
  
  
<!-- Footer
================================================== -->
<div id="footer">

<br>

  <!-- First Column -->
<div class="one-fourth">
     
     <h3> <strong> Links </strong> </h3>
  <ul class="footer_links">
       <li><a href="{{ path ('/home') }}"> <b> Home </b> </a></li>
       <li><a href="{{ path ('/portfolio') }}"> <b> Photos </b> </a></li>
       <li><a href="{{ path ('/video') }}"> <b>  Video </b> </a></li>
       <li><a href="{{ path ('/buycars') }}"> <b> Buy Cars </b> </a></li>
  </ul>
     
<br>

</div>

  <!-- Second Column -->
<div class="one-fourth">
     
     <h3> <strong> User </strong> </h3> 
  <ul class="footer_links">
       <li><a href="{{ path ('/contact') }}"> <b> Contact </b> </a></li>
       <li><a href="{{ path ('/signup') }}"> <b> Signup </b> </a></li>
       <li><a href="{{ path ('/login') }}"> <b> Login </b> </a></li>
  </ul>
     
<br>

</div>

  <!-- Third Column -->
<div class="one-fourth-last">
     
      <h3> <strong> Information </strong> </h3> 
<p> 
      <b>  
           When I was a kid I had a passion for cars. <br>
           That's why I decided to make a website about performance cars....  

 <br>

 <br>     Theme made by: <a href="{{ path ('/contact') }}"> Bogdan Marian </a> 
      </b>
     
</p>
</div>

<div style="clear:both"></div>

</div>     <!-- END Footer
================================================== -->

{% endblock %}</body>

</html>
